:root {
  --body-bg-color: var(--color-white);
  --body-text-color: var(--color-white-700);
  font-family: 'Quicksand', sans-serif;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-200: #99f6e4;
  --color-teal-300: #5eead4;
  --color-teal-400: #2dd4bf;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
  --color-teal-900: #134e4a;
  --color-teal-950: #042f2e;

  .btn-teal{
    --btn-bg-color: var(--color-teal-400);
    --btn-border-color: var(--color-teal-400);
    --btn-text-color: var(--color-white);
  }
  .btn-teal:hover{
    --btn-bg-color: var(--color-teal-500);
    --btn-border-color: var(--color-teal-500);
  }
  .btn-teal-icon{
    --btn-border-color: transparent;
    --btn-text-color: var(--color-black);
  }
  .btn-teal-icon:hover{
    --btn-bg-color: var(--color-teal-100);
    --btn-text-color: var(--color-teal-600);
}
}


body {
  background: var(--body-bg-color);
  color: var(--body-text-color);

  @apply transition-colors duration-300;
}

.dark {
  body {
    --body-bg-color: var(--color-gray-true-900);
    --body-text-color: var(--color-gray-true-200);
  }

  

  // change default app bar dark mode bg color
  // .app-bar-default {
  //   --app-bar-bg-color: theme('colors.neutral.900') !important;
  // }
}

.nav-drawer-indigo {
  --nav-drawer-bg-color: theme('colors.indigo.600');
  --nav-drawer-text-color: theme('colors.white');
}

.nav-drawer-teal {
  --nav-drawer-bg-color: theme('colors.teal.600');
  --nav-drawer-text-color: theme('colors.white');
}

.card-teal {
  --card-bg-color: theme('colors.teal.500');
  --card-color: theme('colors.white');
}
